@import url('https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Serif');

html {
    font: 12px/1.5 'PT Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

article h5 {
    color: #d0191d;
    padding-bottom: 1em;
    padding-top: 0.5em;
}
