.services .container {
    max-width: 64.6em;
    display: flex;
    color: #37282b;
    gap: 2em;
    align-items: center;
    padding-block: 6em;
}

.services article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.services h2 {
    font-size: 2.5em;
}

.services p {
    font-size: 0.9em;
    padding-bottom: 1.5em;
}

.services a {
    border: 1.5px solid #b0825c;
    color: #b0825c;
    padding: 0.3em 0.9em;
    align-self: flex-start;
    font-weight: bold;
}